export VIRTUAL_ENV=$HOME/Documents/pythonenvs/netket_env
layout python-venv 
layout julia

# python -m ipykernel install --user --name dev-netket --display-name "Python (Netket development)"
export JUPYTER_KERNEL="dev-netket"

export LLVM_CONFIG=llvm-config-10-64
export MPI4JAX_USE_CUDA_MPI=0

export JAX_PLATFORM_NAME="cpu"

unset PS1
